<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ style('css/frontend_css/main.css') }}
{{ style('https://fonts.googleapis.com/css?family=Roboto:400,700') }}
</head>
<body>

@include('layouts/frontLayout/footer')

</body>
</html>
