@layout('layouts.frontLayout.user_design')

@section('content')
    <!-- main -->

    <main class="main">
        <section class="container section signup">
            <h1 class="signup__title">Thành toán thành công. Chúng tôi sẽ sớm liên hệ với bạn một cách nhanh chóng nhất. Cảm ơn.</h1>
            <a href="/">Quay về trang chủ</a>
        </section>
    </main>

    <!-- end main -->
@endsection