@layout('layouts.frontLayout.user_design')

@section('content')
    <!-- main -->

    <main class="main">
        <section class="container section signup cart--success">
            <h1 class="cart--success__title">Thanh toán thành công. Chúng tôi sẽ sớm liên hệ với bạn một cách nhanh chóng nhất. Cảm ơn.</h1>
            <div class="cart--success__link"><a href="/">Quay về trang chủ</a></div> 
        </section>
    </main>

    <!-- end main -->
@endsection