@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
label,
select,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
}
input:focus {
  outline: 0;
}
input,
textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  overflow: visible;
  width: auto;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}
textarea {
  overflow: auto;
}
select[multiple],
textarea {
  vertical-align: top;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: #fff;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 20px;
}
.input-text {
  border: 1px solid #777;
  padding: 8px;
  border-radius: 5px;
}
.divider {
  height: 3px;
  display: block;
  background-color: rgba(0,0,0,0.1);
  margin: 1em 0;
  width: 100%;
  max-width: 30px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header a {
  color: #777;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}
.header__input {
  border-radius: 40px;
  background-color: rgba(0,0,0,0.03);
  display: block;
  border: 1px solid #777;
}
.header__input--pc {
  display: none;
}
.header__input--mb {
  position: relative;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
  width: 320px;
}
.header__input--mb input {
  width: 90%;
}
.header .menu--pc,
.header__bottom .menu__sub--one,
.header__info--hidden {
  display: none;
}
.header .menu--mb {
  font-size: 16px;
}
.header .menu--mb__icon__account {
  position: relative;
  right: -233px;
}
.header .menu--mb__icon__one {
  position: relative;
  right: -213px;
}
.header .menu--mb__icon__two {
  position: relative;
  right: -206px;
}
.header .menu--mb__icon__three {
  position: relative;
  right: -220px;
}
.header .menu--mb__main__item {
  padding: 10px 20px;
}
.header .menu--mb__main__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu--mb__sub__item {
  padding: 5px 20px;
}
.header .menu--mb__sub__sub {
  padding: 0 20px;
}
.header .menu--mb__sub__sub__item {
  padding: 5px 0;
}
.header .fab,
.header .fas {
  font-size: 18px;
  color: #777;
}
.header .show {
  display: block;
}
.header .hidden {
  display: none;
}
.footer {
  color: #777;
  background-color: #f2f2f2;
}
.footer a {
  color: #445768;
  font-size: 16px;
}
.footer a:hover {
  color: #000;
}
.footer__top {
  padding-top: 30px;
}
.footer__box {
  margin-bottom: 15px;
}
.footer__box--dash {
  border: 2px dashed #ff4500;
  word-wrap: break-word;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 20px;
}
.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__logo img {
  width: 100%;
}
.footer__txt {
  margin-left: 60px;
}
.footer__nav li,
.footer__txt {
  padding-bottom: 20px;
}
.footer__img__item {
  margin-bottom: 15px;
}
.footer__address__title {
  font-weight: 700;
}
.footer__widgets {
  text-align: center;
  margin-top: 10px;
}
.footer__widgets--right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__widgets--right ul li {
  margin: 5px 5px 10px;
}
.footer__widgets--right ul .fab {
  font-size: 36px;
}
.footer__widgets--left {
  line-height: 1.6rem;
}
.footer__widgets--left strong {
  font-weight: 700;
}
.footer__widgets--left img {
  width: 133px;
  height: 50px;
}
.main .slideshow__top {
  height: 210px;
}
.main .slideshow__top img {
  width: 100%;
  height: auto;
}
.main .banner {
  display: none;
}
.main .prodhot {
  margin: 0 20px;
}
.main .prodhot img {
  width: 100%;
  height: 300px;
}
.main .prodhot .box {
  padding: 0 10px;
}
.main .prodhot .box__img {
  border: 1px solid #ddd;
}
.main .prodhot .box__img,
.main .prodhot .box__img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .prodhot .box__body {
  margin-top: 15px;
  text-align: center;
}
.main .prodhot .box__body__name {
  padding-bottom: 10px;
}
.main .prodhot .box__body__price {
  font-weight: 700;
}
.main .prodhot .box a {
  color: #445768;
}
.main .prodhot .box a:hover {
  color: #000;
}
.main .section__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 22px 20px;
}
.main .section__title b {
  height: 2px;
  background-color: #ddd;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.main .section__title span {
  border: 2px solid #ddd;
  padding: .5em .8em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
  color: #3d3c3c;
}
.main .logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main .logo:after {
  content: "";
  display: table;
  clear: both;
}
.main .logo__content {
  display: grid;
  grid-template-columns: 50% 50%;
}
.main .logo__item {
  padding: 20px 0;
  text-align: center;
}
.main .logo__item img {
  width: 166px;
  height: 98px;
}
.main .service {
  margin: 10px 15px;
}
.main .service__box {
  text-align: center;
}
.main .service__box__icon {
  font-size: 40px;
  margin-bottom: 20px;
}
.main .service__box__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: #555;
}
.main .service__box__content {
  color: #777;
  text-align: left;
  word-wrap: 20px;
  line-height: 1.6rem;
  margin-bottom: 20px;
}
.main .service__box__content ul {
  list-style-type: disc;
}
@media (min-width: 1280px) {
  .header__top {
    margin: 10px;
  }
  .header__input--mb,
  .header__toggle {
    display: none;
  }
  .header__input--pc {
    display: block;
    width: 40%;
    padding: 10px;
  }
  .header__input--pc input {
    width: 100%;
  }
  .header__input--pc form {
    position: relative;
  }
  .header__input--pc form .fas {
    position: absolute;
    top: 0;
    right: 0;
  }
  .header__info__item {
    display: block;
  }
  .header__info__item--bold {
    font-weight: 700;
    text-transform: uppercase;
  }
  .header__info__item--bold a {
    color: #777;
  }
  .header__info__item--bold a:hover,
  .header__info__item--bold a:hover .fas {
    color: #d33;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .header__info__item--bold a .fas {
    padding: 0 10px;
    color: #777;
  }
  .header__info__item--divider {
    margin: 0 5px;
  }
  .header__info__item--hover {
    padding: 10px 0;
  }
  .header__info__item--hover:hover .header__info__item__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__info__item__sub {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 140px;
    z-index: 1;
    background-color: #f1f1f1;
    border: 2px solid #bdbdbd;
    -webkit-box-shadow: 1px 3px 5px #717171;
    box-shadow: 1px 3px 5px #717171;
  }
  .header__info__item__sub:before {
    content: "";
    position: absolute;
    top: -11%;
    left: 43%;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #bdbdbd;
    clear: both;
  }
  .header__info__item__sub li {
    margin: 10px 0;
  }
  .header__info__item__sub li a {
    text-transform: none;
  }
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__info--hidden {
    display: block;
  }
  .header__info__right li {
    float: left;
    padding: 10px 8px;
  }
  .header__info__left li {
    float: left;
    padding: 10px 5px;
  }
  .header__info__left .fas {
    color: #777;
  }
  .header__info__left:hover .fas {
    color: #464444;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .header .fab,
  .header .fas {
    font-size: 13px;
  }
  .header__bottom {
    position: relative;
    background-color: #f2f2f2;
    display: block;
    -webkit-box-shadow: 0 4px 8px #d6d6d6;
    box-shadow: 0 4px 8px #d6d6d6;
  }
  .header .menu--mb {
    display: none;
  }
  .header .menu--pc {
    display: block;
  }
  .header .menu__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header .menu__main,
  .header .menu__main__item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header .menu__main__item {
    position: relative;
    margin: 0 20px;
    padding: 10px 0;
  }
  .header .menu__main__item:focus-within .menu__sub,
  .header .menu__main__item:focus .menu__sub,
  .header .menu__main__item:hover .menu__sub {
    display: block;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-transition-delay: 0s, 0s, .3s;
    transition-delay: 0s, 0s, .3s;
  }
  .header .menu__main__item .header__link {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
  }
  .header .menu__main__item .header__link i {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
  .header .menu__main__item .header__link:hover,
  .header .menu__main__item .header__link:hover i {
    color: #d33;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header .menu__sub {
    position: absolute;
    min-width: 595px;
    height: 250px;
    border: 2px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    top: 34px;
    display: none;
    -webkit-box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 9;
    background-color: #fff;
  }
  .header .menu__sub--one:before {
    content: "";
    position: absolute;
    top: -7%;
    left: 7%;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-bottom-color: #fff;
    clear: both;
  }
  .header .menu__sub--two {
    min-width: 621px;
    left: -170px;
  }
  .header .menu__sub--two:before {
    content: "";
    position: absolute;
    top: -7%;
    left: 33%;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-bottom-color: #fff;
    clear: both;
  }
  .header .menu__sub--three {
    min-width: 621px;
    left: -280px;
  }
  .header .menu__sub--three:before {
    content: "";
    position: absolute;
    top: -7%;
    left: 50%;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-bottom-color: #fff;
    clear: both;
  }
  .header .menu__sub__item {
    float: left;
    margin: 0 15px;
  }
  .header .menu__sub__item .header__link:hover {
    color: rgba(63,61,61,0.932);
  }
  .header .menu__sub__sub {
    margin-top: 10px;
  }
  .header .menu__sub__sub__item {
    border-top: 1px solid #dad0d0;
    font-size: 16px;
    padding: 10px 25px 10px 0;
  }
  .header .menu__sub__sub__item a:hover {
    color: #2f2f2f;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main .slideshow__top {
    width: 100%;
    height: auto;
  }
  .main .slideshow__prodhot .box__img img {
    width: 100%;
    height: 320px;
  }
  .main .banner {
    display: block;
  }
  .main .banner:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .banner__img {
    float: left;
    width: calc(-6.67%);
    margin: 10px 20px;
  }
  .main .banner__img img {
    width: 100%;
    height: auto;
  }
  .main .logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main .logo:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .logo__content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 60px;
  }
  .main .logo__item {
    grid-column: span 2;
  }
  .main .logo__item img {
    width: 166px;
    height: 98px;
  }
  .main .service:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .service__box {
    display: block;
    width: calc(33.33% - 40px);
    float: left;
    margin: 10px 20px;
  }
  .main .service__box__content {
    font-size: 12px;
  }
  .footer__top {
    margin-bottom: 15px;
  }
  .footer__address:after,
  .footer__top:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer__box {
    display: block;
    width: calc(33.33% - 40px);
    float: left;
    margin: 0 20px;
  }
  .footer__box--dash {
    margin-bottom: 40px;
  }
  .footer__widgets {
    margin: 0 20px;
  }
  .footer__widgets:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer__widgets--right {
    float: right;
  }
  .footer__widgets--left {
    float: left;
    text-align: left;
  }
}
.main .signup {
  margin: 40px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main .signup__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #1f1f1f;
}
.main .signup .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 16px 12px;
}
.main .signup label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1f1f1f;
}
.main .signup label:after {
  padding-left: 3px;
  color: #ea7162;
  content: "*";
  font-size: 13px;
  line-height: 1px;
}
.main .signup__footer {
  margin: 20px 0;
  text-align: center;
}
.main .signup__footer__btn {
  padding: 13px 15px;
  background: #737373;
  border: 1px solid #737373;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
}
.main .signup .input-text {
  border: 1px solid green;
}
.main .signup input:placeholder-shown {
  border-color: #ddd;
}
.main .signup input:required:valid {
  border-color: green;
}
.main .signup input:required:focus:valid {
  background: url(/images/icon/check-solid.svg) no-repeat 95% 50%;
  background-size: 16px;
  background-color: green;
}
.main .signup input:required:focus:invalid {
  background: url(/images/icon/times-solid.svg) no-repeat 95% 50%;
  background-size: 12px;
  border-color: red;
}
@media (min-width: 1280px) {
  .main .signup {
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 2px 5px #e4e4e4;
    box-shadow: 1px 2px 5px #e4e4e4;
    position: relative;
    top: 0;
    left: 30%;
    width: 40%;
    border-radius: 6px;
  }
  .main .signup__title {
    padding-top: 10px;
  }
  .main .signup .row {
    margin: 20px;
  }
  .main .signup__footer__btn:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: #1f1f1f;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
.main .signin {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.main .signin__title {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #555;
  border-top: 1px solid #414c5c;
  padding-top: 30px;
  color: #1f1f1f;
}
.main .signin__title__column {
  margin: 30px 0 20px;
  font-weight: 700;
  font-size: 16px;
  color: #555;
  border-bottom: 2px solid #414c5c;
  padding: 0 0 8px;
  color: #1f1f1f;
}
.main .signin__info {
  margin-bottom: 30px;
}
.main .signin .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
}
.main .signin .row label {
  padding-bottom: 10px;
  color: #555;
  font-weight: 600;
  color: #1f1f1f;
}
.main .signin .row label:after {
  padding-left: 3px;
  color: #ea7162;
  content: "*";
  font-size: 13px;
  line-height: 1px;
}
.main .signin__link {
  margin-top: 5px;
}
.main .signin__link a {
  color: #777;
  font-weight: 600;
  text-decoration: underline;
}
.main .signin__btn {
  text-align: center;
  margin: 20px 0;
  border: 1px solid #777;
  background-color: #777;
}
.main .signin__btn button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
  color: #fff;
}
.main .signin__btn button:focus {
  outline: 0;
}
@media (min-width: 1280px) {
  .main .signin {
    padding: 0 60px;
  }
  .main .signin__title {
    border-top: none;
  }
  .main .signin__body:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .signin__body__content {
    float: left;
    width: calc(-10%);
  }
  .main .signin__body__content--left {
    padding-right: 120px;
  }
  .main .signin__link a:hover {
    text-decoration: none;
    color: #464444;
  }
  .main .signin__btn {
    width: 120px;
    position: relative;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .main .signin__btn button {
    padding: 10px 20px;
  }
  .main .signin__btn:hover {
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .main .signin__btn:hover button {
    color: #000;
    cursor: pointer;
  }
}
.main {
  color: #777;
}
.main .info {
  margin: 20px 0;
}
.main .info__title {
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
  color: #555;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.main .info__banner {
  margin-bottom: 15px;
}
.main .info__banner img {
  width: 100%;
  height: auto;
}
.main .info__content {
  line-height: 16px;
}
.main .info__content p {
  padding-bottom: 10px;
}
.main .info__content p a {
  color: #000;
}
.main .info__content p a:hover {
  color: #d33;
}
.main .info__content p strong {
  font-weight: 600;
}
.main .filter {
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.main .filter:after {
  content: "";
  display: table;
  clear: both;
}
.main .filter__item {
  position: relative;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  float: left;
  width: 50%;
}
.main .filter__item,
.main .filter__item__title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main .filter__item__title {
  padding: 13px 15px;
  font-weight: 700;
}
.main .filter--hover {
  display: none;
}
.main .product__body:after {
  content: "";
  display: table;
  clear: both;
}
.main .product__body .box {
  float: left;
  width: calc(10%);
  margin: 20px;
}
.main .product__body .box__img {
  padding-bottom: 12px;
  border: 1px solid #ddd;
}
.main .product__body .box__img img {
  width: 215px;
  height: 215px;
}
.main .product__body .box__img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .product__body .box__body {
  text-align: center;
  padding-top: 10px;
}
.main .product__body .box__body__name {
  padding-bottom: 8px;
}
.main .product__body .box--hidden {
  display: none;
}
.main .product .btn__loadmore {
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0 60px;
}
.main .product .btn__loadmore a {
  padding: 20px 50px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #777;
  background: #777;
}
@media (min-width: 1280px) {
  .main .info:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .info__title {
    text-align: left;
  }
  .main .info__banner {
    margin: 0 244px;
    padding-bottom: 25px;
  }
  .main .filter__item {
    width: 15%;
  }
  .main .filter__item:hover {
    cursor: pointer;
  }
  .main .filter__item:hover .filter--hover {
    display: block;
  }
  .main .filter--hover {
    position: absolute;
    background: rgba(255,255,255,0.95);
    width: 160px;
    padding: 8px;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: -1px 2px 3px #f2f2f2;
    box-shadow: -1px 2px 3px #f2f2f2;
    margin: 0;
  }
  .main .filter--hover li {
    padding: 10px 0;
  }
  .main .filter--hover li a {
    color: #777;
  }
  .main .filter--hover li a:hover {
    color: #d33;
  }
  .main .product {
    margin-bottom: 40px;
  }
  .main .product:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .product .box {
    float: left;
    width: calc(5%);
    margin: 15px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main .product .box__img img {
    width: 308px;
    height: 308px;
  }
  .main .product .box__body__name a {
    color: #777;
  }
  .main .product .box__body__name a:hover {
    color: #222;
  }
  .main .product .box__body__price {
    color: #000;
    font-weight: 600;
  }
  .main .product .btn__loadmore {
    width: 20%;
    position: relative;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .main .product .btn__loadmore a {
    padding: 20px 94px;
  }
  .main .product .btn__loadmore a:hover {
    background: #fff;
    color: #777;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
.main .detail {
  margin-bottom: 30px;
}
.main .detail__top {
  margin: 30px 0;
}
.main .detail__img img {
  width: 450px;
  height: 450px;
}
.main .detail__title {
  margin: 20px 0 5px;
  font-weight: 700;
  color: #555;
  font-size: 1.4rem;
}
.main .detail__price {
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.main .detail__desc {
  margin-bottom: 45px;
  line-height: 21px;
  font-size: 16px;
}
.main .detail__btn {
  border: 1px solid #777;
  padding: 18px 40px;
  color: #fff;
  background-color: #777;
}
.main .detail__bottom__title,
.main .detail__btn {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.main .detail__bottom__title {
  color: #555;
  margin-bottom: 15px;
}
.main .detail__bottom table {
  width: 100%;
  margin-bottom: 1em;
  border-color: #ececec;
  border-spacing: 0;
}
.main .detail__bottom table td {
  padding: .5em;
  text-align: left;
  border-bottom: 1px solid #ececec;
  line-height: 1.3;
  font-size: 14px;
  color: #666;
}
.main .detail__bottom table td:first-child {
  padding-left: 0;
}
.main .detail__bottom table td:last-child {
  padding-right: 0;
}
.main .detail__bottom__column--left {
  margin-bottom: 30px;
}
.main .detail__bottom__column--right img {
  width: 100%;
  height: auto;
}
.main .same__product {
  margin-bottom: 55px;
}
.main .same__product__title {
  font-weight: 700;
  color: #555;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.main .same__product .box__img img {
  width: 100%;
  height: 300px;
}
.main .same__product .box__img img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 1280px) {
  .main .detail__top:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .detail__column {
    float: left;
  }
  .main .detail__column--left {
    width: 40%;
  }
  .main .detail__column--right {
    width: calc(30%);
    padding-left: 30px;
  }
  .main .detail__btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #777;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .main .detail__bottom {
    border-top: 1px solid #777;
    padding-top: 30px;
  }
  .main .detail__bottom:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .detail__bottom__column {
    float: left;
  }
  .main .detail__bottom__column--left {
    width: calc(20%);
    padding-right: 40px;
  }
  .main .detail__bottom__column--right {
    width: 40%;
  }
  .main .same__product__title {
    border-top: 1px solid #777;
    padding-top: 30px;
  }
  .main .same__product .box__img a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main .same__product .box__body__name {
    margin-top: 15px;
  }
  .main .same__product .box__body__name a {
    color: #777;
  }
  .main .same__product .box__body__name a:hover {
    color: #000;
  }
  .main .same__product .box__body__price {
    margin-top: 10px;
    color: #000;
    font-weight: 600;
  }
}
.main .cart {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
}
.main .cart--hidden,
.main .cart--show {
  display: none;
}
.main .cart__hidden {
  text-align: center;
  padding: 20px 0 30px;
}
.main .cart__hidden__text {
  font-size: 15px;
}
.main .cart__hidden__back {
  padding-top: 30px;
}
.main .cart__hidden__back a {
  border: 1px solid #d33;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #d33;
  text-transform: uppercase;
  font-weight: 500;
}
.main .cart__hidden__back a:hover {
  color: #d33;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}
.main .cart__total table {
  width: 100%;
}
.main .cart__total table tbody td {
  text-align: right;
}
.main .cart__total__sum td {
  border-width: 3px;
}
.main .cart__total__detail {
  margin-top: 13px;
  margin-bottom: 25px;
}
.main .cart__total__checkout {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #d33;
  border: 2px solid #d33;
  opacity: .9;
  padding: 9px 0;
  margin-bottom: 30px;
}
.main .cart__total__checkout .link {
  padding: 9px 173px;
  color: #fff;
}
.main .title {
  text-transform: uppercase;
  font-weight: 700;
}
.main .price__amount {
  color: #000;
  font-weight: 600;
}
.main .product td,
.main .product th {
  padding: .5em;
  text-align: left;
  border-bottom: 1px solid #ececec;
  line-height: 1.3;
}
.main .product__thumbnail img {
  width: 77px;
  height: 77px;
}
.main .product__head th {
  border-width: 3px;
}
.main .product__head__price,
.main .product__head__subtotal {
  visibility: hidden;
}
.main .product__head__name {
  padding-left: 0;
}
.main .product__top {
  padding-bottom: 15px;
}
.main .product__top__price,
.main .product__top__subtotal {
  visibility: hidden;
}
.main .product__top__name {
  text-align: left;
}
.main .product__top__name a {
  color: #445768;
}
.main .product__top__name p {
  padding-top: 5px;
}
.main .product__top__remove button {
  display: block;
  width: 29px;
  height: 29px;
  font-size: 15px !important;
  line-height: 19px !important;
  border-radius: 100%;
  color: #ccc;
  font-weight: 700;
  text-align: center;
  border: 2px solid;
}
.main .product__top__remove button:hover {
  color: #000;
  border-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}
.main .product__top__quantity__label {
  display: none;
}
.main .product__top__quantity--body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.main .product__top__quantity--body .value__button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0;
  width: 20px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main .product__top__quantity input[type=number] {
  max-width: 2.5em;
  width: 25px;
  text-align: center;
  border-radius: 0 !important;
  -webkit-appearance: textfield;
  appearance: textfield;
  font-size: 1em;
}
.main .product__top__quantity input::-webkit-inner-spin-button,
.main .product__top__quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .product__top__quantity input[type=number] {
  -moz-appearance: textfield;
}
.main .product__top td {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main .product__top .item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main .product__top .input-text {
  width: 10px;
  border-radius: 0;
  border-color: #ddd;
}
.main .product__top .input-text__minus,
.main .product__top .input-text__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .product__bottom {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main .product__bottom:after {
  content: "";
  display: table;
  clear: both;
}
.main .product__bottom .product__bottom__content {
  padding: 25px 0;
  border-bottom: none;
}
.main .product__bottom__content:after {
  content: "";
  display: table;
  clear: both;
}
.main .product__bottom__content__item {
  float: left;
}
.main .product__bottom--link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 25px;
  border: 2px solid #d33;
}
.main .product__bottom--link .link {
  text-transform: uppercase;
  font-weight: 600;
  color: #d33;
}
.main .product__bottom--btn {
  margin-left: 10px;
  background-color: #d33;
  border: 2px solid #d33;
  color: #fff;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .6;
}
@media (min-width: 1280px) {
  .main .cart__column {
    float: left;
  }
  .main .cart__column--left {
    width: calc(30%);
    padding-right: 25px;
    border-right: 1px solid #ddd;
  }
  .main .cart__column--left .show__small {
    display: none;
  }
  .main .cart__column--right {
    width: calc(15%);
    padding-left: 25px;
  }
  .main .cart__column--right .cart__total__checkout:hover {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #d33;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .main .cart__column--right .cart__total__checkout:hover a {
    color: #d33;
  }
  .main .product__head__price,
  .main .product__head__subtotal,
  .main .product__top__price,
  .main .product__top__subtotal {
    visibility: visible;
  }
  .main .product__bottom--link:hover {
    cursor: pointer;
    background-color: #d33;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .main .product__bottom--link:hover a {
    color: #fff;
  }
  .main .product__bottom--btn:hover {
    cursor: pointer;
    background-color: #fff;
    border-color: #d33;
    color: #d33;
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
.main .repair {
  line-height: 21px;
}
.main .repair__title {
  font-weight: 700;
  font-size: 1.8em;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #555;
}
.main .repair__info {
  font-weight: 300;
  color: #d33;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.main .repair__img img {
  width: 100%;
  height: auto;
}
.main .repair p {
  margin-bottom: 1.3rem;
}
.main .repair p strong {
  font-weight: 600;
}
.main .repair p a {
  color: #000;
}
.main .repair p a:hover {
  color: #d33;
}
@media (min-width: 1280px) {
  .main .repair__title {
    margin-top: 30px;
  }
}
.main .contact {
  line-height: 1.6;
}
.main .contact__map {
  height: 450px;
  margin-bottom: 30px;
}
.main .contact__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 22px 0;
  text-transform: uppercase;
  color: #777;
  font-weight: 700;
  font-size: 16px;
}
.main .contact__title b {
  height: 2px;
  background-color: #ddd;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.main .contact__selection:after {
  content: "";
  display: table;
  clear: both;
}
.main .contact__selection__content {
  float: left;
  width: calc(50% - 40px);
  padding: 10px 20px;
}
.main .contact__selection__content__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #555;
  padding-bottom: 10px;
}
.main .contact__repair--left p {
  margin-bottom: 15px;
}
.main .contact__repair--left p strong {
  font-weight: 600;
}
.main .contact__repair--left p a {
  color: #000;
}
.main .contact__repair--left p a:hover {
  color: #d33;
}
.main .contact__repair--right img {
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .main .contact {
    margin-bottom: 30px;
  }
  .main .contact__map {
    margin-top: 30px;
  }
  .main .contact__selection__content {
    width: calc(25% - 60px);
    padding: 10px 30px;
  }
  .main .contact__repair:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .contact__repair__content {
    float: left;
    width: calc(50% - 20px);
  }
  .main .contact__repair--left {
    padding-right: 40px;
  }
}
.main .cart--success {
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main .cart--success__title {
  padding: 20px 0 30px;
  font-weight: 300;
  color: #0d7d0d;
  font-size: 1.5em;
}
.main .cart--success__link {
  padding-bottom: 30px;
}
.main .cart--success__link a {
  padding: 15px;
  border: 1px solid #d33;
  color: #fff;
  background-color: #d33;
  text-transform: uppercase;
  font-weight: 300;
}
.main .cart--success__link a:hover {
  background-color: #fff;
  color: #d33;
}
.main .active {
  font-weight: 700;
}
.main .account {
  line-height: 33px;
}
.main .account__title {
  font-size: 1.8rem;
  color: #555;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 0 20px;
}
.main .account__top__selection {
  width: 100%;
  border: 2px solid #c3cbd5;
  height: 36px;
  color: #00f;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 45px;
}
.main .account__bottom {
  margin-bottom: 40px;
}
.main .account__dashboard__content__title {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  margin: 20px 0 25px;
  border-bottom: 2px solid #414c5c;
  padding: 10px 0;
}
.main .account__dashboard__head {
  display: none;
}
.main .account__dashboard__message {
  text-align: center;
}
.main .account__dashboard__message--success {
  background-color: green;
  color: #fff;
  padding: 4px 0;
}
.main .account__dashboard__message--error {
  background-color: red;
  color: #fff;
  padding: 4px 0;
}
.main .account__box table {
  counter-reset: tableCount;
}
.main .account__box .counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.main .account__box__table thead {
  color: #555;
  text-transform: uppercase;
  font-weight: 600;
}
.main .account__box__table thead td {
  padding: 0 10px;
}
.main .account__box__table thead td:first-child {
  padding: 0;
}
.main .account__box__table thead td:last-child {
  padding-right: 0;
}
.main .account__box__table tbody:last-child {
  padding: 0;
}
.main .account__box__table tbody td {
  padding: 0 10px;
}
.main .account__box__table__name {
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
  width: 110px;
}
.main .account__box__table__link a {
  color: #414c5c;
  text-decoration: underline;
}
.main .account__box__table__link a:hover {
  text-decoration: none;
  color: #000;
}
.main .account__box__btn {
  text-align: center;
  padding: 20px 0;
}
.main .account__box__btn a {
  color: #fff;
  border: 1px solid #d33;
  background-color: #d33;
  width: 100%;
  padding: 10px 100px;
  text-transform: uppercase;
}
.main .account__box__btn a:hover {
  color: #d33;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}
.main .account__sidebar {
  display: none;
}
.main .section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .main .account:after {
    content: "";
    display: table;
    clear: both;
  }
  .main .account__top {
    float: left;
    width: 30%;
  }
  .main .account__top__selection {
    display: none;
  }
  .main .account__bottom {
    float: left;
    width: 70%;
  }
  .main .account__dashboard__head {
    display: block;
    margin: 30px 0 20px;
  }
  .main .account__dashboard__head__title {
    font-size: 18px;
  }
  .main .account__sidebar {
    display: block;
  }
  .main .account__sidebar li {
    padding: 10px 0;
  }
  .main .account__sidebar li a {
    color: #777;
    text-transform: uppercase;
  }
  .main .account__box__table thead td {
    padding: 0 20px;
  }
  .main .account__box__table thead td:first-child {
    padding: 0;
  }
  .main .account__box__table tbody td {
    padding: 0 20px;
  }
}
.main .account__dashboard__page {
  margin: 30px 0 20px;
}
.main .account__dashboard__page__title {
  font-size: 1.6rem;
}
.main .account__dashboard__content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 16px 0;
}
.main .account__dashboard__content label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1f1f1f;
}
.main .account__dashboard__content label:after {
  padding-left: 3px;
  color: #ea7162;
  content: "*";
  font-size: 13px;
  line-height: 1px;
}
.main .account__dashboard__content .input-text {
  border-radius: 0;
}
.main .account__dashboard__content__bottom {
  text-align: center;
  padding: 10px 0 15px;
}
.main .account__dashboard__content__bottom button {
  border: 1px solid #d33;
  background-color: #d33;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 110px;
}
@media (min-width: 1280px) {
  .main .account__dashboard__content__bottom {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 300px;
  }
  .main .account__dashboard__content__bottom button:hover {
    color: #d33;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
/* .slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-loading .slick-list {
  background: #fff url(ajax-loader.gif) 50% no-repeat;
}
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/slick.eot);
  src: url(fonts/slick.eot?#iefix) format("embedded-opentype"), url(fonts/slick.woff) format("woff"), url(fonts/slick.ttf) format("truetype"), url(fonts/slick.svg#slick) format("svg");
}
.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}
.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #c0bdbd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 0;
}
[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "â��";
}
[dir=rtl] .slick-prev:before {
  content: "â��";
}
.slick-next {
  right: 0;
}
[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "â��";
}
[dir=rtl] .slick-next:before {
  content: "â��";
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "â�¢";
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000;
} */