<!DOCTYPE html>
<html lang="en">
<head>
<title>Đồng hồ chính hãng online</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" tpye= "image/png" href="/images/icon/icon-tab.png">
{{ style('https://fonts.googleapis.com/css?family=Roboto:400,700') }}
{{ style('https://use.fontawesome.com/releases/v5.8.1/css/all.css') }}
{{ style('css/frontend_css/error.css') }}

</head>
<body>

<div class="wrap">
    <div class="logo">
        <img src="/images/error_image/404.png" alt="">
		<!---728x90--->

        <p><a href="/">Trở về trang chủ</a></p>
    </div>
</div>
</body>
</html>
